* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Avenir Next", "Gill Sans", "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin: 0;
}

code {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: "Bodoni 72", "Didot", "Times New Roman", serif;
}
