{
  "openapi": "3.1.0",
  "info": {
    "title": "MCPJam API",
    "version": "1.0.0-preview",
    "description": "Programmatic access to live MCP server diagnostics — validate, inspect, and export servers saved in your MCPJam projects.\n\n**The API is in preview**: the surface may change while we finish the design. Error `code` values are stable; error `message` strings are not. Write clients that ignore unknown response fields.",
    "contact": {
      "name": "MCPJam",
      "url": "https://github.com/MCPJam/inspector/issues"
    }
  },
  "servers": [
    {
      "url": "https://app.mcpjam.com/api/v1",
      "description": "Hosted MCPJam"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    {
      "name": "Server diagnostics",
      "description": "Connect-level health checks against a saved MCP server."
    },
    {
      "name": "Primitives",
      "description": "The server's MCP primitives: tools, prompts, and resources."
    },
    {
      "name": "Export",
      "description": "Full-server snapshots for diffing and CI."
    },
    {
      "name": "Eval runs",
      "description": "Async eval suite runs. POST creates the run and responds 202; poll GET until status is terminal."
    },
    {
      "name": "OAuth",
      "description": "Import externally-obtained OAuth tokens so subsequent server calls succeed automatically."
    }
  ],
  "paths": {
    "/projects/{projectId}/servers/{serverId}/validate": {
      "post": {
        "operationId": "validateServer",
        "tags": ["Server diagnostics"],
        "summary": "Validate a server",
        "description": "Connects to the server, initializes the MCP session, and returns a connection snapshot (server info, negotiated capabilities). The same check the hosted inspector runs when you connect a server.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/emptyBody" },
        "responses": {
          "200": {
            "description": "Server connected and initialized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidateResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/doctor": {
      "post": {
        "operationId": "runDoctor",
        "tags": ["Server diagnostics"],
        "summary": "Run the doctor",
        "description": "Runs the full doctor workflow — probe → connect → initialize → capabilities → primitives — and returns a step-by-step report. The richest signal for \"is this server healthy, and why not.\"",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/emptyBody" },
        "responses": {
          "200": {
            "description": "Doctor report. `status` summarizes the outcome; per-step detail is in `checks`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DoctorReport" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/check-oauth": {
      "post": {
        "operationId": "checkOAuth",
        "tags": ["Server diagnostics"],
        "summary": "Check OAuth requirement",
        "description": "Lightweight, no MCP connection: reports whether the server is configured to require an OAuth grant.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/emptyBody" },
        "responses": {
          "200": {
            "description": "OAuth requirement for the server.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckOAuthResult" },
                "example": {
                  "useOAuth": true,
                  "serverUrl": "https://mcp.example.com/mcp"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools": {
      "post": {
        "operationId": "listTools",
        "tags": ["Primitives"],
        "summary": "List tools",
        "description": "Returns the server's tools as a collection page. Each item is the MCP tool definition (`name`, `description`, `inputSchema`, ...).",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/cursorBody" },
        "responses": {
          "200": {
            "description": "One page of tools.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ToolPage" },
                "example": {
                  "items": [
                    {
                      "name": "create_issue",
                      "description": "Create a new issue in the tracker",
                      "inputSchema": {
                        "type": "object",
                        "properties": { "title": { "type": "string" } }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts": {
      "post": {
        "operationId": "listPrompts",
        "tags": ["Primitives"],
        "summary": "List prompts",
        "description": "Returns the server's prompts as a collection page.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/cursorBody" },
        "responses": {
          "200": {
            "description": "One page of prompts.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromptPage" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources": {
      "post": {
        "operationId": "listResources",
        "tags": ["Primitives"],
        "summary": "List resources",
        "description": "Returns the server's resources as a collection page.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/cursorBody" },
        "responses": {
          "200": {
            "description": "One page of resources.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResourcePage" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources/read": {
      "post": {
        "operationId": "readResource",
        "tags": ["Primitives"],
        "summary": "Read a resource",
        "description": "Reads a single resource by URI and returns its contents.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uri"],
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "The resource URI, exactly as returned by the resources list.",
                    "example": "file:///readme.md"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource contents.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResourceContents" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/export": {
      "post": {
        "operationId": "exportServer",
        "tags": ["Export"],
        "summary": "Export a server snapshot",
        "description": "Lists tools, resources, and prompts in one call and returns a single JSON snapshot — handy for diffing a server's surface over time in CI.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/emptyBody" },
        "responses": {
          "200": {
            "description": "Full server snapshot.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExportSnapshot" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools/call": {
      "post": {
        "operationId": "callTool",
        "tags": ["Primitives"],
        "summary": "Call a tool",
        "description": "Executes a tool on the server and returns the MCP `CallToolResult` directly. A tool-level error (`isError: true` in the result) is a successful call — the server answered; only transport or auth failures map to v1 error codes.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toolName"],
                "properties": {
                  "toolName": {
                    "type": "string",
                    "description": "Name of the tool to call, exactly as returned by the tools list."
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Tool arguments matching the tool's `inputSchema`. Omit or pass `{}` for tools with no required arguments.",
                    "additionalProperties": true
                  }
                }
              },
              "example": {
                "toolName": "create_issue",
                "parameters": { "title": "Fix the bug" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP `CallToolResult`. Check `isError` in the result for tool-level failures.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CallToolResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts/get": {
      "post": {
        "operationId": "getPrompt",
        "tags": ["Primitives"],
        "summary": "Render a prompt",
        "description": "Calls `prompts/get` on the server with the supplied arguments and returns the MCP `GetPromptResult` (`description` and `messages`).",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["promptName"],
                "properties": {
                  "promptName": {
                    "type": "string",
                    "description": "Name of the prompt to render, exactly as returned by the prompts list."
                  },
                  "arguments": {
                    "type": "object",
                    "description": "Prompt arguments as key/value string pairs.",
                    "additionalProperties": { "type": "string" }
                  }
                }
              },
              "example": {
                "promptName": "summarize",
                "arguments": { "topic": "MCP protocol" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP `GetPromptResult`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetPromptResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/FeatureNotSupported" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/oauth/import-tokens": {
      "post": {
        "operationId": "importOAuthTokens",
        "tags": ["OAuth"],
        "summary": "Import OAuth tokens",
        "description": "Stores OAuth tokens your agent obtained externally (e.g. via the MCP SDK's `runOAuthLogin`) for this server. Subsequent API calls to the server inject the stored access token automatically; 401s from the server trigger a server-side refresh. Use this to close the `OAUTH_REQUIRED` loop without manual browser interaction.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/serverId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["serverUrl", "tokens"],
                "properties": {
                  "serverUrl": {
                    "type": "string",
                    "description": "The MCP server's URL, as configured in the project."
                  },
                  "tokens": {
                    "type": "object",
                    "required": ["access_token"],
                    "description": "OAuth token set.",
                    "properties": {
                      "access_token": { "type": "string" },
                      "refresh_token": { "type": "string" },
                      "expires_in": { "type": "number" },
                      "token_type": { "type": "string" },
                      "scope": { "type": "string" }
                    }
                  }
                }
              },
              "example": {
                "serverUrl": "https://mcp.example.com/mcp",
                "tokens": {
                  "access_token": "eyJ...",
                  "refresh_token": "def...",
                  "expires_in": 3600
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens stored successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["imported"],
                  "properties": {
                    "imported": { "type": "boolean", "const": true },
                    "expiresAt": {
                      "type": ["number", "null"],
                      "description": "Unix timestamp (ms) when the access token expires, or `null` if unknown."
                    }
                  }
                },
                "example": { "imported": true, "expiresAt": 1720000000000 }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/ServerUnreachable" },
          "504": { "$ref": "#/components/responses/Timeout" }
        }
      }
    },
    "/projects/{projectId}/eval-runs": {
      "post": {
        "operationId": "createEvalRun",
        "tags": ["Eval runs"],
        "summary": "Start an eval run",
        "description": "Creates an eval suite run and starts executing it in the background. Validation and quota errors surface synchronously; on success the route responds **202** immediately with the `runId`. Poll `GET /projects/{projectId}/eval-runs/{runId}` until `status` is terminal (`completed`, `failed`, or `cancelled`).\n\nProvide `suiteId` to rerun an existing suite, inline `tests` to define cases on the fly, or both. A bare `suiteId` with no `tests` is always treated as a rerun of the suite's existing cases.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateEvalRunRequest" },
              "example": {
                "suiteId": "suite_abc123",
                "serverIds": ["server_xyz"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run created and executing in the background.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateEvalRunResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}": {
      "get": {
        "operationId": "getEvalRun",
        "tags": ["Eval runs"],
        "summary": "Get eval run status",
        "description": "Returns the run's current status, result, and summary. Poll this until `status` is `completed`, `failed`, or `cancelled`.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Run ID returned by `POST /eval-runs`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Run document.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EvalRunDto" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations": {
      "get": {
        "operationId": "listEvalRunIterations",
        "tags": ["Eval runs"],
        "summary": "List run iterations",
        "description": "Returns a paginated list of per-iteration results: actual tool calls, structured token usage (input/output/cached/reasoning), and duration. Pass `cursor` from `nextCursor` to page through results.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Run ID.",
            "schema": { "type": "string" }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response's `nextCursor`.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of iterations to return (1–200, default 50).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of iteration results.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EvalIterationPage" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations/{iterationId}/trace": {
      "get": {
        "operationId": "getIterationTrace",
        "tags": ["Eval runs"],
        "summary": "Get iteration trace",
        "description": "Returns the full trace envelope (messages and spans) for one iteration. Returns `404` with `details.reason: \"TRACE_NOT_AVAILABLE\"` when the trace hasn't been stored yet.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Run ID.",
            "schema": { "type": "string" }
          },
          {
            "name": "iterationId",
            "in": "path",
            "required": true,
            "description": "Iteration ID from the iterations list.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Trace blob (messages and spans). Shape may evolve; write a tolerant reader.",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}/runs": {
      "get": {
        "operationId": "listEvalSuiteRuns",
        "tags": ["Eval runs"],
        "summary": "List suite runs",
        "description": "Returns recent runs for a suite, newest first.",
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "description": "Suite ID.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of runs to return (1–100, default 25).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent runs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["items"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EvalRunDto" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "MCPJam API key (`sk_…`). Create one at [Settings → API keys](https://app.mcpjam.com/settings/api-keys). Guest sessions cannot use the API, and API keys cannot manage other API keys."
      }
    },
    "parameters": {
      "projectId": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "description": "ID of the hosted project that contains the server.",
        "schema": { "type": "string" }
      },
      "serverId": {
        "name": "serverId",
        "in": "path",
        "required": true,
        "description": "ID of the server inside the project.",
        "schema": { "type": "string" }
      }
    },
    "requestBodies": {
      "emptyBody": {
        "required": false,
        "description": "Accepts an empty JSON object.",
        "content": {
          "application/json": {
            "schema": { "type": "object", "properties": {} },
            "example": {}
          }
        }
      },
      "cursorBody": {
        "required": false,
        "description": "Optional pagination cursor.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Opaque pagination cursor from a previous response's `nextCursor`. Don't parse it."
                }
              }
            },
            "example": {}
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable, machine-readable error code. New codes may be added over time; treat unknown codes as non-retryable failures unless the HTTP status says otherwise.",
            "enum": [
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "VALIDATION_ERROR",
              "RATE_LIMITED",
              "FEATURE_NOT_SUPPORTED",
              "SERVER_UNREACHABLE",
              "TIMEOUT",
              "OAUTH_REQUIRED",
              "INTERNAL_ERROR"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable description. May change between releases — don't match on it."
          },
          "details": {
            "type": "object",
            "description": "Optional, unstructured context bag.",
            "additionalProperties": true
          }
        }
      },
      "ValidateResult": {
        "type": "object",
        "required": ["success", "status"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "status": { "type": "string", "const": "connected" },
          "initInfo": {
            "type": ["object", "null"],
            "description": "MCP initialization snapshot: server info, negotiated protocol version, and capabilities. `null` if the server connected but initialization data was unavailable.",
            "additionalProperties": true
          }
        }
      },
      "DoctorReport": {
        "type": "object",
        "description": "Step-by-step health report from the probe → connect → initialize → capabilities workflow.",
        "required": ["generatedAt", "status", "connection", "checks"],
        "properties": {
          "generatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the report was generated."
          },
          "status": {
            "type": "string",
            "enum": ["ready", "oauth_required", "partial", "error"],
            "description": "Overall outcome. `partial` means the server connected but some primitive listings failed."
          },
          "probe": {
            "type": ["object", "null"],
            "description": "Transport-level probe result (HTTP reachability, protocol hints), or `null` when skipped.",
            "additionalProperties": true
          },
          "connection": {
            "type": "object",
            "required": ["status", "detail"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["connected", "error", "skipped"]
              },
              "detail": { "type": "string" }
            }
          },
          "initInfo": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "capabilities": {
            "type": ["object", "null"],
            "description": "The server's negotiated MCP capabilities.",
            "additionalProperties": true
          },
          "tools": { "type": "array", "items": { "$ref": "#/components/schemas/Tool" } },
          "resources": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Resource" }
          },
          "resourceTemplates": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "prompts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Prompt" }
          },
          "checks": {
            "type": "object",
            "description": "Per-step status. Each check is `{ status: ok | error | skipped, detail }`.",
            "properties": {
              "probe": { "$ref": "#/components/schemas/DoctorCheck" },
              "connection": { "$ref": "#/components/schemas/DoctorCheck" },
              "initialization": { "$ref": "#/components/schemas/DoctorCheck" },
              "capabilities": { "$ref": "#/components/schemas/DoctorCheck" },
              "tools": { "$ref": "#/components/schemas/DoctorCheck" },
              "resources": { "$ref": "#/components/schemas/DoctorCheck" },
              "resourceTemplates": { "$ref": "#/components/schemas/DoctorCheck" },
              "prompts": { "$ref": "#/components/schemas/DoctorCheck" }
            }
          },
          "error": {
            "oneOf": [
              { "type": "null" },
              {
                "type": "object",
                "required": ["code", "message"],
                "properties": {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "details": {}
                }
              }
            ],
            "description": "Terminal error, or `null` when the workflow completed."
          }
        },
        "additionalProperties": true
      },
      "DoctorCheck": {
        "type": "object",
        "required": ["status", "detail"],
        "properties": {
          "status": { "type": "string", "enum": ["ok", "error", "skipped"] },
          "detail": { "type": "string" }
        }
      },
      "CheckOAuthResult": {
        "type": "object",
        "required": ["useOAuth", "serverUrl"],
        "properties": {
          "useOAuth": {
            "type": "boolean",
            "description": "Whether the server is configured to require an OAuth grant."
          },
          "serverUrl": {
            "type": ["string", "null"],
            "description": "The server's URL, or `null` for non-HTTP transports."
          }
        }
      },
      "Tool": {
        "type": "object",
        "description": "MCP tool definition, as returned by the server.",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "inputSchema": {
            "type": "object",
            "description": "JSON Schema for the tool's arguments.",
            "additionalProperties": true
          },
          "outputSchema": {
            "type": "object",
            "description": "JSON Schema for the tool's structured output, when declared.",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Prompt": {
        "type": "object",
        "description": "MCP prompt definition, as returned by the server.",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "arguments": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name"],
              "properties": {
                "name": { "type": "string" },
                "description": { "type": "string" },
                "required": { "type": "boolean" }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "Resource": {
        "type": "object",
        "description": "MCP resource descriptor, as returned by the server.",
        "required": ["uri"],
        "properties": {
          "uri": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "mimeType": { "type": "string" }
        },
        "additionalProperties": true
      },
      "ResourceContents": {
        "type": "object",
        "description": "MCP read-resource result.",
        "required": ["contents"],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["uri"],
              "properties": {
                "uri": { "type": "string" },
                "mimeType": { "type": "string" },
                "text": {
                  "type": "string",
                  "description": "Present for text resources."
                },
                "blob": {
                  "type": "string",
                  "description": "Base64-encoded payload, present for binary resources."
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ToolPage": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Tool" }
          },
          "nextCursor": {
            "type": "string",
            "description": "Opaque cursor for the next page. Omitted on the last page."
          }
        }
      },
      "PromptPage": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Prompt" }
          },
          "nextCursor": {
            "type": "string",
            "description": "Opaque cursor for the next page. Omitted on the last page."
          }
        }
      },
      "ResourcePage": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Resource" }
          },
          "nextCursor": {
            "type": "string",
            "description": "Opaque cursor for the next page. Omitted on the last page."
          }
        }
      },
      "ExportSnapshot": {
        "type": "object",
        "required": ["serverId", "exportedAt", "tools", "resources", "prompts"],
        "properties": {
          "serverId": { "type": "string" },
          "exportedAt": { "type": "string", "format": "date-time" },
          "tools": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Tool" }
          },
          "resources": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Resource" }
          },
          "prompts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Prompt" }
          }
        }
      },
      "CallToolResult": {
        "type": "object",
        "description": "MCP `CallToolResult`. `isError: true` means the tool itself reported an error — the call succeeded at the transport level.",
        "required": ["content"],
        "properties": {
          "content": {
            "type": "array",
            "description": "Result content items (text, image, resource, etc.).",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "isError": {
            "type": "boolean",
            "description": "When `true`, the tool reported a tool-level error in `content`."
          }
        },
        "additionalProperties": true
      },
      "GetPromptResult": {
        "type": "object",
        "description": "MCP `GetPromptResult`.",
        "required": ["messages"],
        "properties": {
          "description": {
            "type": "string",
            "description": "Optional description of the rendered prompt."
          },
          "messages": {
            "type": "array",
            "description": "The rendered prompt messages.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "CreateEvalRunRequest": {
        "type": "object",
        "description": "Request body for starting an eval run. Provide `suiteId` to rerun an existing suite, inline `tests` to define cases on the fly, or both.",
        "properties": {
          "suiteId": {
            "type": "string",
            "description": "ID of an existing eval suite to rerun. Required when `tests` is empty."
          },
          "suiteName": {
            "type": "string",
            "description": "Name for the suite. Used when creating a new suite from inline `tests`."
          },
          "serverIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "IDs of the servers to connect for this run."
          },
          "tests": {
            "type": "array",
            "maxItems": 100,
            "description": "Inline test cases (up to 100). Each case defines the query, model, expected tool calls, and pass criteria.",
            "items": {
              "type": "object",
              "required": ["title", "query", "runs", "model", "provider"],
              "properties": {
                "title": { "type": "string" },
                "query": { "type": "string" },
                "runs": { "type": "integer", "minimum": 1, "maximum": 10 },
                "model": { "type": "string" },
                "provider": { "type": "string" },
                "expectedToolCalls": {
                  "type": "array",
                  "items": { "type": "object", "additionalProperties": true }
                }
              },
              "additionalProperties": true
            }
          }
        }
      },
      "CreateEvalRunResponse": {
        "type": "object",
        "required": ["runId", "suiteId", "status", "caseUpsert"],
        "properties": {
          "runId": { "type": "string", "description": "ID of the created run. Use this to poll for status." },
          "suiteId": { "type": "string", "description": "ID of the suite (existing or newly created)." },
          "status": { "type": "string", "const": "running" },
          "caseUpsert": {
            "type": "object",
            "description": "Summary of case upsert results when inline tests were supplied.",
            "properties": {
              "committed": {
                "type": "array",
                "items": { "type": "object", "additionalProperties": true }
              },
              "failed": {
                "type": "array",
                "items": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      },
      "EvalRunDto": {
        "type": "object",
        "required": ["id", "suiteId", "status"],
        "properties": {
          "id": { "type": "string" },
          "suiteId": { "type": "string" },
          "runNumber": { "type": ["integer", "null"] },
          "status": {
            "type": "string",
            "enum": ["running", "completed", "failed", "cancelled"],
            "description": "Current run status. Poll until terminal (`completed`, `failed`, or `cancelled`)."
          },
          "result": {
            "type": ["string", "null"],
            "enum": ["passed", "failed", null]
          },
          "summary": {
            "type": ["object", "null"],
            "properties": {
              "total": { "type": "integer" },
              "passed": { "type": "integer" },
              "failed": { "type": "integer" },
              "passRate": { "type": "number" }
            }
          },
          "source": {
            "type": "string",
            "enum": ["ui", "api"],
            "description": "How the run was triggered."
          },
          "notes": { "type": ["string", "null"] },
          "createdAt": { "type": "number", "description": "Unix timestamp (ms)." },
          "completedAt": { "type": ["number", "null"], "description": "Unix timestamp (ms), or `null` while running." }
        }
      },
      "EvalIterationDto": {
        "type": "object",
        "required": ["id", "iterationNumber", "status"],
        "properties": {
          "id": { "type": "string" },
          "testCaseId": { "type": ["string", "null"] },
          "title": { "type": ["string", "null"] },
          "iterationNumber": { "type": "integer" },
          "status": { "type": "string", "enum": ["running", "completed", "failed", "cancelled"] },
          "result": { "type": ["string", "null"], "enum": ["passed", "failed", null] },
          "model": { "type": ["string", "null"] },
          "provider": { "type": ["string", "null"] },
          "startedAt": { "type": ["number", "null"] },
          "durationMs": { "type": ["number", "null"], "description": "Wall-clock duration in milliseconds, or `null` while running." },
          "tokensUsed": { "type": ["integer", "null"] },
          "usage": {
            "type": ["object", "null"],
            "properties": {
              "inputTokens": { "type": "integer" },
              "outputTokens": { "type": "integer" },
              "cachedTokens": { "type": "integer" },
              "reasoningTokens": { "type": "integer" }
            }
          },
          "actualToolCalls": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true }
          },
          "expectedToolCalls": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true }
          },
          "error": { "type": ["string", "null"] }
        }
      },
      "EvalIterationPage": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EvalIterationDto" }
          },
          "nextCursor": {
            "type": "string",
            "description": "Opaque cursor for the next page. Omitted on the last page."
          }
        }
      }
    },
    "responses": {
      "InternalError": {
        "description": "Something failed on MCPJam's side.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "INTERNAL_ERROR",
              "message": "Unexpected internal error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Malformed body or parameters.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "VALIDATION_ERROR",
              "message": "Invalid JSON body"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid, revoked, or orphaned key (`UNAUTHORIZED`) — or the **target MCP server** needs an OAuth grant (`OAUTH_REQUIRED`), which is a property of the server, not your key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "examples": {
              "badKey": {
                "summary": "Invalid or revoked key",
                "value": {
                  "code": "UNAUTHORIZED",
                  "message": "Invalid API key"
                }
              },
              "oauthRequired": {
                "summary": "Target server needs an OAuth grant",
                "value": {
                  "code": "OAUTH_REQUIRED",
                  "message": "Server requires OAuth authorization"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Key is valid but not allowed to do this.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "FORBIDDEN",
              "message": "You do not have access to this project"
            }
          }
        }
      },
      "NotFound": {
        "description": "Unknown project, server, or resource.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "code": "NOT_FOUND", "message": "Server not found" }
          }
        }
      },
      "FeatureNotSupported": {
        "description": "The target server doesn't support this MCP capability.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "FEATURE_NOT_SUPPORTED",
              "message": "Server does not support resources"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Per-key rate limit exceeded (60 requests/minute sustained, bursts up to 10). Honor `Retry-After` and back off with jitter.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": { "type": "integer" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "RATE_LIMITED",
              "message": "API key rate limit exceeded. Slow down and retry."
            }
          }
        }
      },
      "ServerUnreachable": {
        "description": "Could not connect to the target MCP server.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "SERVER_UNREACHABLE",
              "message": "Failed to connect to server"
            }
          }
        }
      },
      "Timeout": {
        "description": "The target MCP server connected but didn't respond in time.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "code": "TIMEOUT",
              "message": "Request to server timed out"
            }
          }
        }
      }
    }
  }
}
