{
  "openapi": "3.1.0",
  "info": {
    "title": "MCPJam API",
    "version": "1.0.0-preview",
    "description": "Programmatic access to MCP servers saved in your MCPJam projects — live diagnostics (validate, inspect, export) and operations: call tools, render prompts, run eval suites asynchronously and poll their results, and import OAuth tokens.\n\n**The API is in preview**: the surface may change while we finish the design. Error `code` values are stable; error `message` strings are not. Write clients that ignore unknown response fields.",
    "contact": {
      "name": "MCPJam",
      "url": "https://github.com/MCPJam/inspector/issues"
    }
  },
  "servers": [
    {
      "url": "https://app.mcpjam.com/api/v1",
      "description": "Hosted MCPJam"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agent browsers",
      "description": "Isolated cloud browser sessions for coding agents. Requires authenticated project membership and a configured desktop runtime."
    },
    {
      "name": "Clients",
      "description": "Clients — the named, reusable configurations that define how MCPJam connects to and talks to your MCP servers. The original `/hosts` paths remain as deprecated, ID-only compatibility aliases with their original DTOs and their original (tokenless) write contracts; every alias response carries `Deprecation: true`. New integrations should use `/clients`."
    },
    {
      "name": "Environments",
      "description": "Project environments: named, live-editable execution bundles (one host, an optional standalone server group, optionally pinned skills and plugin versions) that eval suites and journeys run against. Distinct from Sandbox images, which are Computer base images. Reads require project membership; every write requires project admin."
    },
    {
      "name": "Plugins",
      "description": "Agent Plugins imported into a project — read-only inventory and version detail."
    },
    {
      "name": "Skills",
      "description": "Cloud Skills: authored SKILL.md files stored in a project. Read-only here. Environments pin skills by id (`skillSelection.skillIds`) and eval runs pin them with `--compose-skill`, so this surface exists to give an unattended caller those ids; authoring is an app flow behind a beta gate."
    },
    {
      "name": "Sandbox images",
      "description": "Custom Computer images: a digest-pinned Dockerfile built into an immutable image your project's computers boot from."
    },
    {
      "name": "Server diagnostics",
      "description": "Connect-level health checks against a saved MCP server."
    },
    {
      "name": "Primitives",
      "description": "The server's MCP primitives: tools, prompts, and resources."
    },
    {
      "name": "Export",
      "description": "Full-server snapshots for diffing and CI."
    },
    {
      "name": "Execution",
      "description": "Run the server's primitives: call tools, render prompts."
    },
    {
      "name": "Eval runs",
      "description": "Asynchronous eval suite runs: create with 202, poll status, iterations, and traces."
    },
    {
      "name": "Conformance runs",
      "description": "Ingest MCP spec-conformance results from the SDK/CLI into project-owned history. Distinct from Eval runs (authored LLM cases) and from directory readiness."
    },
    {
      "name": "Server connections",
      "description": "Connect an MCP server URL to a project, authorizing in a browser when the server requires it."
    },
    {
      "name": "OAuth",
      "description": "Bring-your-own OAuth: import externally obtained tokens for a server."
    },
    {
      "name": "Scenarios",
      "description": "Read-only access to the scenarios published from a project: listing, settings, attached servers, and share links."
    },
    {
      "name": "Catalog",
      "description": "Discover the resources the other routes operate on: your account, projects, servers, eval suites, and chat sessions."
    },
    {
      "name": "Tunnels",
      "description": "Relay tunnels that expose local MCP servers through a public URL, registered as first-class project servers (the `mcpjam cloud tunnel` CLI flow)."
    },
    {
      "name": "Agent",
      "description": "Headless agent turns over the public API: send a message history, the server runs one assistant turn with project-scoped workspace tools (eval reads + suite creation) on a pinned hosted model, and returns the reply plus created-resource references."
    },
    {
      "name": "Swarms",
      "description": "Personas, journeys and swarm containers — the authoring half of Swarms — plus the model-backed generation that drafts them."
    },
    {
      "name": "Swarm runs",
      "description": "Launching journeys and reading what they produced. Launching SPENDS — see the per-operation notes."
    },
    {
      "name": "Swarm insights",
      "description": "What a swarm run revealed. The scorecard and findings are deterministic and free; requesting wave insights runs models and draws on your shared daily ledger."
    },
    {
      "name": "User testing",
      "description": "Publishing an environment for real visitors, and controlling who can reach it. Several of these NARROW access and take effect immediately."
    },
    {
      "name": "Directory readiness",
      "description": "Grade a saved server against a publisher's listing requirements: Anthropic's connector directory or OpenAI's plugin directory. Reported as lane status and coverage, never as a numeric score, and excluded from `pooledConformanceScore`. Deterministic grading is free; model-backed experience observations are an explicit opt-in that consumes MCPJam credits and can never decide a verdict."
    },
    {
      "name": "Registry",
      "description": "Search the scraped MCP directories (Claude, ChatGPT, and any future source), list curated/org registry cards, and install them into a project. Install writes a `servers` row and provenance — it does not open a live session. There is no catalog-uninstall route: delete the project server instead. Directory reads require a bearer (including minted guest tokens) but do not materialize a user. Card/connection reads and all writes are authed-non-guest."
    }
  ],
  "paths": {
    "/browser-sessions/session": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentSession",
        "summary": "Open a cloud browser session",
        "description": "Returns session identity, engine, bootId and runKey. Same runKey and policy reuse the session; omit runKey for a new isolated browser. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "policy": {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "enum": [
                          "allow_all",
                          "read_only",
                          "allowlist"
                        ]
                      },
                      "originAllowlist": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 100
                      },
                      "toolAllowlist": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 100
                      }
                    },
                    "required": [
                      "mode"
                    ]
                  },
                  "runKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "profile": {
                    "const": "persistent"
                  }
                },
                "required": [
                  "projectId",
                  "policy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns session identity, engine, bootId and runKey. Same runKey and policy reuse the session; omit runKey for a new isolated browser.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/sessions": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentSessions",
        "summary": "List your browser sessions",
        "description": "Returns a sessions array of sessions owned by the caller in this project. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a sessions array of sessions owned by the caller in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessions"
                  ],
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/command": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentCommand",
        "summary": "Execute a browser command",
        "description": "Returns an executed, refused or unknown result. Reusing commandId with the same payload returns its receipt without replay; pending receipts return unknown. Page content is untrusted data. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "sessionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "command": {
                    "$ref": "#/components/schemas/BrowserAgentCommand"
                  },
                  "commandId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "tabId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId",
                  "sessionId",
                  "command"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an executed, refused or unknown result. Reusing commandId with the same payload returns its receipt without replay; pending receipts return unknown. Page content is untrusted data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/note": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentNote",
        "summary": "Append a session note",
        "description": "Records a note without driving the browser. commandId provides idempotency. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "sessionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "commandId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "tabId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId",
                  "sessionId",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records a note without driving the browser. commandId provides idempotency.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/trace": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentTrace",
        "summary": "Read command receipts",
        "description": "Returns entries ordered by sequence, optionally filtered by commandId. Screenshot payloads are fetched separately. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "sessionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "afterSeq": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "commandId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId",
                  "sessionId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns entries ordered by sequence, optionally filtered by commandId. Screenshot payloads are fetched separately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entries"
                  ],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/artifact": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentArtifact",
        "summary": "Fetch a browser screenshot",
        "description": "Returns screenshot as base64 PNG, or null when absent. artifactId is the command ID from the result. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "sessionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "artifactId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId",
                  "sessionId",
                  "artifactId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns screenshot as base64 PNG, or null when absent. artifactId is the command ID from the result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "screenshot"
                  ],
                  "properties": {
                    "screenshot": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base64-encoded PNG when present."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/browser-sessions/close": {
      "post": {
        "tags": [
          "Agent browsers"
        ],
        "operationId": "browserAgentClose",
        "summary": "Close a browser session",
        "description": "Closes the durable session and releases its desktop. Use a new runKey for another browser. Request bodies are limited to 64,000 characters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "sessionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "projectId",
                  "sessionId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closes the durable session and releases its desktop. Use a new runKey for another browser.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or policy"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Session not found or not owned by caller"
          },
          "409": {
            "description": "Session closed or conflicting command ID"
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Browser control plane unavailable"
          }
        }
      }
    },
    "/host-catalog": {
      "get": {
        "operationId": "getHostCompatCatalog",
        "tags": ["Catalog"],
        "summary": "Get the host-compat catalog",
        "description": "The versioned host-compatibility catalog backing `mcpjam compat` verdicts. Public and unauthenticated: static host facts and creation config with no project or user scope. Always returns a catalog — `source` is `live` when the backend publish was reachable and `bundled` when serving the SDK's built-in fallback.",
        "security": [],
        "responses": {
          "200": {
            "description": "The latest catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schemaVersion",
                    "version",
                    "contentHash",
                    "publishedAt",
                    "catalog",
                    "source"
                  ],
                  "properties": {
                    "schemaVersion": {
                      "type": "integer",
                      "description": "Catalog document schema version (currently 2)."
                    },
                    "version": {
                      "type": "integer",
                      "description": "Monotonic backend publish version; 0 when `source` is `bundled`."
                    },
                    "contentHash": {
                      "type": "string",
                      "description": "SHA-256 of the canonical catalog JSON; empty when `source` is `bundled`."
                    },
                    "publishedAt": {
                      "type": "integer",
                      "description": "Publish time (ms epoch); 0 when `source` is `bundled`."
                    },
                    "source": {
                      "type": "string",
                      "enum": ["live", "bundled"],
                      "description": "Whether this envelope came from the backend publish or the SDK's bundled fallback."
                    },
                    "catalog": {
                      "type": "object",
                      "required": ["hostsById"],
                      "properties": {
                        "hostsById": {
                          "type": "object",
                          "description": "Canonical host catalog keyed by host style. Each entry is the full host object: compare/display facts plus HostConfigInputV2 creation fields.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "id",
                              "label",
                              "provenance",
                              "rendersMcpApps",
                              "hostStyle"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "provenance": {
                                "type": "string",
                                "enum": [
                                  "observed",
                                  "probe",
                                  "vendor-doc",
                                  "assumed"
                                ]
                              },
                              "rendersMcpApps": {
                                "type": "boolean"
                              },
                              "supportedProtocolVersions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "verifiedAt": {
                                "type": "integer",
                                "description": "When this host's facts were last verified (ms epoch)."
                              },
                              "imageSupport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hostStyle": {
                                "type": "string"
                              },
                              "mcpProfile": {
                                "type": "object",
                                "description": "Host MCP profile. MCP Apps capabilities and OpenAI compat live here.",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/harness/{harnessId}/builtin-tools": {
      "get": {
        "operationId": "listHarnessBuiltinTools",
        "tags": ["Harness"],
        "summary": "List a harness's native built-in tools",
        "description": "The native tools an agent harness (e.g. `claude-code`) runs INSIDE its sandbox — Bash, Read, Edit, Glob, Grep, WebSearch, and the like. Display-only: these execute via the harness's own agent loop and are NOT callable through MCPJam. Static published-package metadata; no project scope.",
        "parameters": [
          {
            "name": "harnessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["claude-code", "codex", "cursor"]
            },
            "description": "The harness id."
          }
        ],
        "responses": {
          "200": {
            "description": "The harness's built-in tools.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["items"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["key", "name"],
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "commonName": {
                            "type": "string"
                          },
                          "toolUseKind": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/images": {
      "get": {
        "operationId": "listSandboxImages",
        "tags": ["Sandbox images"],
        "summary": "List a project's sandbox images",
        "description": "The custom Computer images (digest-pinned Dockerfiles built into immutable images) saved in the project — your own personal drafts plus the project-shared ones.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's sandbox images.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImagePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Create a sandbox image",
        "description": "Create a personal-draft sandbox image from a blueprint and respond `201` with its detail. Build it (`POST .../build`) before a computer can boot from it. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxImageCreateRequest"
              },
              "example": {
                "name": "scraper",
                "blueprint": "base: debian:bookworm-slim@sha256:<digest>\ninitialize:\n  - name: Install tooling\n    run: apt-get update && apt-get install -y git\nknowledge:\n  - name: Test notes\n    contents: Run `make test` before pushing.\n"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sandbox image was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}": {
      "get": {
        "operationId": "getSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Get a sandbox image",
        "description": "One sandbox image's blueprint, sharing, and latest build. An image that exists but belongs to a different project reads as `404 NOT_FOUND`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "patch": {
        "operationId": "updateSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Update a sandbox image",
        "description": "Edit a sandbox image's name and/or Dockerfile. Re-build it for the changes to take effect on a computer. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxImageUpdateRequest"
              },
              "example": {
                "name": "scraper (v2)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "delete": {
        "operationId": "deleteSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Delete a sandbox image",
        "description": "Permanently delete a sandbox image. Computers booted from it fall back to the base image. Deleting a project-shared image requires project admin. Bodyless — any field is rejected. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageDeleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/builds": {
      "get": {
        "operationId": "listSandboxImageBuilds",
        "tags": ["Sandbox images"],
        "summary": "List a sandbox image's builds",
        "description": "A sandbox image's builds, newest first, each with its status and capped log preview.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image's builds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageBuildPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/build": {
      "post": {
        "operationId": "buildSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Build a sandbox image",
        "description": "Trigger a build of the sandbox image's image and respond `202`. The build runs asynchronously — poll the builds list for status. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "202": {
            "description": "The build was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageBuildStarted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/promote": {
      "post": {
        "operationId": "promoteSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Share a sandbox image with the project",
        "description": "Promote a personal-draft sandbox image to a project-shared one. Requires project admin. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The now-shared sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/use": {
      "post": {
        "operationId": "useSandboxImage",
        "tags": ["Sandbox images"],
        "summary": "Boot your computer from a sandbox image",
        "description": "Attach the sandbox image to the caller's computer, which re-provisions it from the pinned image (installed files are wiped). The image must have a `ready` build, and the computer provider must match the build's. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The sandbox image was attached; the computer is re-provisioning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerAttached"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/computer/reset": {
      "post": {
        "operationId": "resetComputer",
        "tags": ["Sandbox images"],
        "summary": "Reset your computer to its image",
        "description": "Reset the caller's computer back to its current image, wiping mutable state. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The reset was requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerReset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/clients": {
      "get": {
        "operationId": "listClients",
        "tags": ["Clients"],
        "summary": "List a project's clients",
        "description": "The clients saved in the project — the named, reusable configurations that define how MCPJam connects to and talks to your MCP servers. Returns the `id`s and `configId`s the detail and write routes take. Clients that exist only as the private backing of a User Testing scenario are omitted unless `includePrivateBacking=true`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/includePrivateBacking"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's clients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "tags": ["Clients"],
        "summary": "Create a client (from a template or a full config)",
        "description": "Creates a client in the project and responds `201` with the new client's detail. Seed the config one of two ways: pass `template` (a built-in template id, optional `theme`) to seed server-side from the live backend client-template catalog, falling back to the bundled SDK catalog snapshot if the live catalog is unavailable, OR pass `config` (a full client config v2). Exactly one of `template` or `config` is required.\n\nGuest callers are denied (client creation is a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreateRequest"
              },
              "example": {
                "name": "Claude",
                "template": "claude",
                "theme": "dark"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The client was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/clients/{client}": {
      "get": {
        "operationId": "getClient",
        "tags": ["Clients"],
        "summary": "Get a client",
        "description": "One client's full settings, including its resolved config, its `configId` (the concurrency token every write takes), and `impact` — what a config edit would follow. The path segment accepts a client **name or ID**. A client that exists but belongs to a different project reads as `404 NOT_FOUND`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/client"
          },
          {
            "$ref": "#/components/parameters/includePrivateBacking"
          }
        ],
        "responses": {
          "200": {
            "description": "The client settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "patch": {
        "operationId": "updateClient",
        "tags": ["Clients"],
        "summary": "Update a client",
        "description": "Edit a client's display name and/or its config. Two ways to change the config: `config` replaces it wholesale, and `set` changes named fields over the config read inside the write transaction — prefer `set`, because a whole-config round-trip composed from a stale read reverts whatever landed in between.\n\nConfig edits require `expectedConfigId` and renames require `expectedName`. A stale token is `409 CONFLICT` whose `details` carries the current value: re-read the client and retry. A config edit that resolves to byte-identical settings writes nothing at all.\n\nGuest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/client"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUpdateRequest"
              },
              "example": {
                "expectedConfigId": "hc_01J8…",
                "set": {
                  "temperature": 0.2
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated client settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "tags": ["Clients"],
        "summary": "Delete a client",
        "description": "Permanently deletes the client. Refused while a live environment, an active legacy journey or an eval suite still holds it — the error names what to detach first. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/client"
          }
        ],
        "responses": {
          "200": {
            "description": "The client was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDeleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/validate": {
      "post": {
        "operationId": "validateServer",
        "tags": ["Server diagnostics"],
        "summary": "Validate a server",
        "description": "Connects to the server, initializes the MCP session, and returns a connection snapshot (server info, negotiated capabilities). The same check the hosted inspector runs when you connect a server.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Server connected and initialized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/doctor": {
      "post": {
        "operationId": "runDoctor",
        "tags": ["Server diagnostics"],
        "summary": "Run the doctor",
        "description": "Runs the full doctor workflow — probe → connect → initialize → capabilities → primitives — and returns a step-by-step report. The richest signal for \"is this server healthy, and why not.\"",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Doctor report. `status` summarizes the outcome; per-step detail is in `checks`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/check-oauth": {
      "post": {
        "operationId": "checkOAuth",
        "tags": ["Server diagnostics"],
        "summary": "Check OAuth requirement",
        "description": "Lightweight, no MCP connection: reports whether the server is configured to require an OAuth grant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "OAuth requirement for the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckOAuthResult"
                },
                "example": {
                  "useOAuth": true,
                  "serverUrl": "https://mcp.example.com/mcp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools": {
      "post": {
        "operationId": "listTools",
        "tags": ["Primitives"],
        "summary": "List tools",
        "description": "Returns the server's tools as a collection page. Each item is the MCP tool definition (`name`, `description`, `inputSchema`, ...).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of tools.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolPage"
                },
                "example": {
                  "items": [
                    {
                      "name": "create_issue",
                      "description": "Create a new issue in the tracker",
                      "inputSchema": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts": {
      "post": {
        "operationId": "listPrompts",
        "tags": ["Primitives"],
        "summary": "List prompts",
        "description": "Returns the server's prompts as a collection page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of prompts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources": {
      "post": {
        "operationId": "listResources",
        "tags": ["Primitives"],
        "summary": "List resources",
        "description": "Returns the server's resources as a collection page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of resources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcePage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources/read": {
      "post": {
        "operationId": "readResource",
        "tags": ["Primitives"],
        "summary": "Read a resource",
        "description": "Reads a single resource by URI and returns its contents.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uri"],
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "The resource URI, exactly as returned by the resources list.",
                    "example": "file:///readme.md"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource contents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceContents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/export": {
      "post": {
        "operationId": "exportServer",
        "tags": ["Export"],
        "summary": "Export a server snapshot",
        "description": "Lists tools, resources, and prompts in one call and returns a single JSON snapshot — handy for diffing a server's surface over time in CI.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Full server snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportSnapshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools/call": {
      "post": {
        "operationId": "callTool",
        "tags": ["Execution"],
        "summary": "Call a tool",
        "description": "Executes a tool on the server and returns the MCP `CallToolResult` plus an additive `durationMs` (wall-clock time of `executeTool`). Tool-level failures (`isError: true` in the result) are **successful calls** — the server answered; only transport/auth errors use the error envelope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toolName"],
                "properties": {
                  "toolName": {
                    "type": "string",
                    "description": "Tool name, exactly as returned by the tools list."
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Tool arguments matching the tool's `inputSchema`. Defaults to `{}`.",
                    "additionalProperties": true
                  }
                }
              },
              "example": {
                "toolName": "create_issue",
                "parameters": {
                  "title": "Bug: login fails"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The MCP `CallToolResult` plus additive `durationMs`. Check `isError` for tool-level failures.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallToolResult"
                },
                "example": {
                  "content": [
                    {
                      "type": "text",
                      "text": "Issue created: #42"
                    }
                  ],
                  "durationMs": 42
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts/get": {
      "post": {
        "operationId": "getPrompt",
        "tags": ["Execution"],
        "summary": "Render a prompt",
        "description": "Renders a prompt with arguments and returns the MCP `GetPromptResult` directly (`description?`, `messages`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["promptName"],
                "properties": {
                  "promptName": {
                    "type": "string",
                    "description": "Prompt name, exactly as returned by the prompts list."
                  },
                  "arguments": {
                    "type": "object",
                    "description": "Prompt arguments. String, number, and boolean values.",
                    "additionalProperties": {
                      "type": ["string", "number", "boolean"]
                    }
                  }
                }
              },
              "example": {
                "promptName": "summarize",
                "arguments": {
                  "style": "bullet"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The MCP `GetPromptResult`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPromptResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs": {
      "post": {
        "operationId": "createEvalRun",
        "tags": ["Eval runs"],
        "summary": "Create an eval run (async)",
        "description": "Creates a suite run from an existing `suiteId` (rerun) and/or inline `tests`, then **detaches execution and responds `202` immediately** with the `runId`. Validation and quota errors surface on this request; poll `GET /eval-runs/{runId}` for progress. The run appears live in the hosted UI Runs tab, tagged `source: \"api\"`.\n\nA bare `suiteId` with no inline tests reruns the suite as configured. Per-organization concurrency is capped (default 2 concurrent runs); exceeding it returns `429` with `details.reason: \"CONCURRENT_RUN_LIMIT\"`.\n\nFor a suite with attached project environments, pass `environmentId` to choose which one the run uses; the `202` echoes the resolved `environment` triple, and `GET /eval-runs/{runId}` reports the same triple for the life of the run.\n\nTo make the run readable as something more specific than `API` in the Runs table, send `x-mcpjam-launcher` (and `x-mcpjam-ci` from a CI job). Both are labels: `source` is stamped `api` either way.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/launcherHeader"
          },
          {
            "$ref": "#/components/parameters/ciHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalRunCreateRequest"
              },
              "example": {
                "suiteName": "smoke",
                "serverIds": ["srv_abc123"],
                "tests": [
                  {
                    "title": "echo works",
                    "runs": 1,
                    "model": "anthropic/claude-haiku-4.5",
                    "provider": "anthropic",
                    "steps": [
                      {
                        "id": "s1",
                        "kind": "prompt",
                        "prompt": "Use the echo tool to say hi"
                      },
                      {
                        "id": "s2",
                        "kind": "assert",
                        "assertion": {
                          "type": "toolCalledWith",
                          "toolName": "echo",
                          "args": {
                            "args": {
                              "text": "hi"
                            }
                          }
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run created; execution continues in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunCreated"
                },
                "example": {
                  "runId": "run_abc123",
                  "suiteId": "suite_def456",
                  "status": "running",
                  "caseUpsert": {
                    "committed": [
                      {
                        "name": "echo works"
                      }
                    ],
                    "failed": []
                  },
                  "environment": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}": {
      "get": {
        "operationId": "getEvalRun",
        "tags": ["Eval runs"],
        "summary": "Get run status",
        "description": "Run status, result, and summary. Poll until `status` is terminal (`completed`, `failed`, `cancelled` or `timed_out`). `grading` is not terminal — every trial has finished and the run is held for its gating judge, with `result` still `pending` — so keep polling.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/decision-summary": {
      "get": {
        "operationId": "getEvalRunDecisionSummary",
        "tags": ["Eval runs"],
        "summary": "Get a run's decision summary",
        "description": "The canonical, versioned run decision contract: the verdict and where it came from, the counts with the population they count, the run's own verdict decision when it has one, and one page of per-trial diagnostics carrying the user-value chain, the first failed stage, the failure category, evidence scoped to that stage, and one next action.\n\nADDITIVE and composed: it is the same two reads a caller could make by hand (`GET …/eval-runs/{runId}` and `GET …/iterations`), assembled once here so every client shares one reading of a run instead of inventing its own. `cursor` and `limit` page the DIAGNOSTICS using the same cursors the iterations endpoint issues, and `diagnostics.complete` says honestly whether the page you got is the run's whole non-passing set.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Iterations examined per page, 1–200. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's `diagnostics.nextCursor`. A page fetched with one is never reported as complete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The run's decision summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunDecisionSummary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/compare": {
      "get": {
        "operationId": "compareEvalRun",
        "tags": ["Eval runs"],
        "summary": "Compare a run against a baseline",
        "description": "Compare this run against a baseline run: per-case status (`regressed`, `fixed`, `new_case`, `removed_case`, `changed`), per-scorer pass-rate and mean deltas from the evaluation contract, and whether the evaluation config changed. Omit `baseRunId` to compare against the nearest earlier **completed** run in the same suite. Returns `404` with `details.reason` = `BASELINE_NOT_FOUND` when there is no comparable predecessor — that is an incomplete comparison, not a failing one. A scorer whose `definitionChanged` is `true` was graded by a different definition on each side, so its delta is not a regression.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "name": "baseRunId",
            "in": "query",
            "required": false,
            "description": "Run ID to compare against. Omit to use the nearest earlier completed run in the same suite. Mutually exclusive with baseCommitSha.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCommitSha",
            "in": "query",
            "required": false,
            "description": "Source commit SHA to compare against, resolved to the completed run in this suite recorded against it. Mutually exclusive with baseRunId; sending both is a 400. A SHA matching no completed run is the ordinary 404 with details.reason = BASELINE_NOT_FOUND - an incomplete comparison, not a regression.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The comparison.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunCompare"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations": {
      "get": {
        "operationId": "listEvalRunIterations",
        "tags": ["Eval runs"],
        "summary": "List run iterations",
        "description": "Per-iteration results: actual tool calls, structured token usage, and latency. Cursor-paginated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, 1–200. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's `nextCursor`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of iterations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalIterationPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations/{iterationId}/trace": {
      "get": {
        "operationId": "getEvalIterationTrace",
        "tags": ["Eval runs"],
        "summary": "Get an iteration trace",
        "description": "Full trace envelope for one iteration: conversation messages, expected-vs-actual tool call analysis, and spans. The shape is rich and may evolve — treat it as an open document. Returns `404` with `details.reason: \"TRACE_NOT_AVAILABLE\"` when the iteration finished without a stored trace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "$ref": "#/components/parameters/iterationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The trace envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Trace document: `messages`, `prompts` (per-prompt expected/actual tool-call analysis), `spans`, and more.",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations/{iterationId}/steps": {
      "get": {
        "operationId": "getEvalRunSteps",
        "tags": ["Eval runs"],
        "summary": "Get an iteration's step results",
        "description": "One row per authored test step, in order, with `status` (`ok`/`fail`/`skipped`/`pending`), a `reason`, and any `evidence` (screenshots, replay-video offset, widget tool calls). The fastest way to see which step failed and why. Unlike `/trace`, a missing trace is not a `404` — step verdicts still return, just without evidence.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "$ref": "#/components/parameters/iterationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The ordered step results as a page envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["items"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Authored steps in order with their verdict.",
                      "items": {
                        "type": "object",
                        "required": ["stepId", "stepIndex", "kind", "status"],
                        "properties": {
                          "stepId": {
                            "type": "string"
                          },
                          "stepIndex": {
                            "type": "integer"
                          },
                          "kind": {
                            "type": "string",
                            "enum": ["prompt", "toolCall", "interact", "assert"]
                          },
                          "status": {
                            "type": "string",
                            "enum": ["ok", "fail", "skipped", "pending"]
                          },
                          "reason": {
                            "type": ["string", "null"]
                          },
                          "evidence": {
                            "type": "object",
                            "description": "Optional, omitted when the step produced none.",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/cancel": {
      "post": {
        "operationId": "cancelEvalRun",
        "tags": ["Eval runs"],
        "summary": "Cancel a run",
        "description": "Request cancellation of an in-flight run; marks the run and its pending/running iterations `cancelled`. A run held in `grading` for its gating judge CAN be cancelled — it lands `cancelled` with no verdict, which is the honest outcome for a run nobody waited out. A no-op success when the run is already cancelled; returns `409` when the run already reached a terminal status (`completed`/`failed`/`timed_out`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The run already finished and cannot be cancelled."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}/runs": {
      "get": {
        "operationId": "listEvalSuiteRuns",
        "tags": ["Eval runs"],
        "summary": "List a suite's runs",
        "description": "Recent runs for a suite, newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum runs to return, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent runs, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
[...]
