{
  "openapi": "3.1.0",
  "info": {
    "title": "MCPJam API",
    "version": "1.0.0-preview",
    "description": "Programmatic access to MCP servers saved in your MCPJam projects \u2014 live diagnostics (validate, inspect, export) and operations: call tools, render prompts, run eval suites asynchronously and poll their results, and import OAuth tokens.\n\n**The API is in preview**: the surface may change while we finish the design. Error `code` values are stable; error `message` strings are not. Write clients that ignore unknown response fields.",
    "contact": {
      "name": "MCPJam",
      "url": "https://github.com/MCPJam/inspector/issues"
    }
  },
  "servers": [
    {
      "url": "https://app.mcpjam.com/api/v1",
      "description": "Hosted MCPJam"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Hosts",
      "description": "Project hosts: named model + capability profiles you run chats and eval suites against."
    },
    {
      "name": "Environments",
      "description": "Project environments: named, live-editable execution bundles (one host, an optional standalone server group, optionally pinned skills and plugin versions) that eval suites and journeys run against. Distinct from Sandbox images, which are Computer base images. Reads require project membership; every write requires project admin."
    },
    {
      "name": "Plugins",
      "description": "Agent Plugins imported into a project \u2014 read-only inventory and version detail."
    },
    {
      "name": "Sandbox images",
      "description": "Custom Computer images: a digest-pinned Dockerfile built into an immutable image your project's computers boot from."
    },
    {
      "name": "Server diagnostics",
      "description": "Connect-level health checks against a saved MCP server."
    },
    {
      "name": "Primitives",
      "description": "The server's MCP primitives: tools, prompts, and resources."
    },
    {
      "name": "Export",
      "description": "Full-server snapshots for diffing and CI."
    },
    {
      "name": "Execution",
      "description": "Run the server's primitives: call tools, render prompts."
    },
    {
      "name": "Eval runs",
      "description": "Asynchronous eval suite runs: create with 202, poll status, iterations, and traces."
    },
    {
      "name": "Server connections",
      "description": "Connect an MCP server URL to a project, authorizing in a browser when the server requires it."
    },
    {
      "name": "OAuth",
      "description": "Bring-your-own OAuth: import externally obtained tokens for a server."
    },
    {
      "name": "Chatboxes",
      "description": "Read-only access to the chatboxes published from a project: listing, settings, attached servers, and share links."
    },
    {
      "name": "Catalog",
      "description": "Discover the resources the other routes operate on: your account, projects, servers, eval suites, and chat sessions."
    },
    {
      "name": "Tunnels",
      "description": "Relay tunnels that expose local MCP servers through a public URL, registered as first-class project servers (the `mcpjam tunnel` CLI flow)."
    },
    {
      "name": "Agent",
      "description": "Headless agent turns over the public API: send a message history, the server runs one assistant turn with project-scoped workspace tools (eval reads + suite creation) on a pinned hosted model, and returns the reply plus created-resource references."
    }
  ],
  "paths": {
    "/host-catalog": {
      "get": {
        "operationId": "getHostCompatCatalog",
        "tags": [
          "Catalog"
        ],
        "summary": "Get the host-compat catalog",
        "description": "The versioned host-compatibility catalog backing `mcpjam compat` verdicts. Public and unauthenticated: static host facts and creation config with no project or user scope. Always returns a catalog \u2014 `source` is `live` when the backend publish was reachable and `bundled` when serving the SDK's built-in fallback.",
        "security": [],
        "responses": {
          "200": {
            "description": "The latest catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schemaVersion",
                    "version",
                    "contentHash",
                    "publishedAt",
                    "catalog",
                    "source"
                  ],
                  "properties": {
                    "schemaVersion": {
                      "type": "integer",
                      "description": "Catalog document schema version (currently 2)."
                    },
                    "version": {
                      "type": "integer",
                      "description": "Monotonic backend publish version; 0 when `source` is `bundled`."
                    },
                    "contentHash": {
                      "type": "string",
                      "description": "SHA-256 of the canonical catalog JSON; empty when `source` is `bundled`."
                    },
                    "publishedAt": {
                      "type": "integer",
                      "description": "Publish time (ms epoch); 0 when `source` is `bundled`."
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "live",
                        "bundled"
                      ],
                      "description": "Whether this envelope came from the backend publish or the SDK's bundled fallback."
                    },
                    "catalog": {
                      "type": "object",
                      "required": [
                        "hostsById"
                      ],
                      "properties": {
                        "hostsById": {
                          "type": "object",
                          "description": "Canonical host catalog keyed by host style. Each entry is the full host object: compare/display facts plus HostConfigInputV2 creation fields.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "id",
                              "label",
                              "provenance",
                              "rendersMcpApps",
                              "hostStyle"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "provenance": {
                                "type": "string",
                                "enum": [
                                  "observed",
                                  "probe",
                                  "vendor-doc",
                                  "assumed"
                                ]
                              },
                              "rendersMcpApps": {
                                "type": "boolean"
                              },
                              "supportedProtocolVersions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "verifiedAt": {
                                "type": "integer",
                                "description": "When this host's facts were last verified (ms epoch)."
                              },
                              "imageSupport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hostStyle": {
                                "type": "string"
                              },
                              "mcpProfile": {
                                "type": "object",
                                "description": "Host MCP profile. MCP Apps capabilities and OpenAI compat live here.",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/harness/{harnessId}/builtin-tools": {
      "get": {
        "operationId": "listHarnessBuiltinTools",
        "tags": [
          "Harness"
        ],
        "summary": "List a harness's native built-in tools",
        "description": "The native tools an agent harness (e.g. `claude-code`) runs INSIDE its sandbox \u2014 Bash, Read, Edit, Glob, Grep, WebSearch, and the like. Display-only: these execute via the harness's own agent loop and are NOT callable through MCPJam. Static published-package metadata; no project scope.",
        "parameters": [
          {
            "name": "harnessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "claude-code"
              ]
            },
            "description": "The harness id."
          }
        ],
        "responses": {
          "200": {
            "description": "The harness's built-in tools.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "key",
                          "name"
                        ],
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "commonName": {
                            "type": "string"
                          },
                          "toolUseKind": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/images": {
      "get": {
        "operationId": "listSandboxImages",
        "tags": [
          "Sandbox images"
        ],
        "summary": "List a project's sandbox images",
        "description": "The custom Computer images (digest-pinned Dockerfiles built into immutable images) saved in the project \u2014 your own personal drafts plus the project-shared ones.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's sandbox images.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImagePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Create a sandbox image",
        "description": "Create a personal-draft sandbox image from a blueprint and respond `201` with its detail. Build it (`POST .../build`) before a computer can boot from it. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxImageCreateRequest"
              },
              "example": {
                "name": "scraper",
                "blueprint": "base: debian:bookworm-slim@sha256:<digest>\ninitialize:\n  - name: Install tooling\n    run: apt-get update && apt-get install -y git\nknowledge:\n  - name: Test notes\n    contents: Run `make test` before pushing.\n"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sandbox image was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}": {
      "get": {
        "operationId": "getSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Get a sandbox image",
        "description": "One sandbox image's blueprint, sharing, and latest build. An image that exists but belongs to a different project reads as `404 NOT_FOUND`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "patch": {
        "operationId": "updateSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Update a sandbox image",
        "description": "Edit a sandbox image's name and/or Dockerfile. Re-build it for the changes to take effect on a computer. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxImageUpdateRequest"
              },
              "example": {
                "name": "scraper (v2)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "delete": {
        "operationId": "deleteSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Delete a sandbox image",
        "description": "Permanently delete a sandbox image. Computers booted from it fall back to the base image. Deleting a project-shared image requires project admin. Bodyless \u2014 any field is rejected. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageDeleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/builds": {
      "get": {
        "operationId": "listSandboxImageBuilds",
        "tags": [
          "Sandbox images"
        ],
        "summary": "List a sandbox image's builds",
        "description": "A sandbox image's builds, newest first, each with its status and capped log preview.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sandbox image's builds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageBuildPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/build": {
      "post": {
        "operationId": "buildSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Build a sandbox image",
        "description": "Trigger a build of the sandbox image's image and respond `202`. The build runs asynchronously \u2014 poll the builds list for status. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "202": {
            "description": "The build was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImageBuildStarted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/promote": {
      "post": {
        "operationId": "promoteSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Share a sandbox image with the project",
        "description": "Promote a personal-draft sandbox image to a project-shared one. Requires project admin. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The now-shared sandbox image.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxImage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/images/{imageId}/use": {
      "post": {
        "operationId": "useSandboxImage",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Boot your computer from a sandbox image",
        "description": "Attach the sandbox image to the caller's computer, which re-provisions it from the pinned image (installed files are wiped). The image must have a `ready` build, and the computer provider must match the build's. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/imageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The sandbox image was attached; the computer is re-provisioning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerAttached"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/computer/reset": {
      "post": {
        "operationId": "resetComputer",
        "tags": [
          "Sandbox images"
        ],
        "summary": "Reset your computer to its image",
        "description": "Reset the caller's computer back to its current image, wiping mutable state. Bodyless. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "The reset was requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerReset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/hosts": {
      "get": {
        "operationId": "listHosts",
        "tags": [
          "Hosts"
        ],
        "summary": "List a project's hosts",
        "description": "The hosts saved in the project \u2014 the named model + capability profiles you attach to chats and eval suites. Returns the `id`s the host detail/update/delete routes take.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's hosts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createHost",
        "tags": [
          "Hosts"
        ],
        "summary": "Create a host (from a template or a full config)",
        "description": "Creates a host in the project and responds `201` with the new host's detail. Seed the host config one of two ways: pass `template` (a built-in template id, optional `theme`) to seed server-side from the live backend host catalog, falling back to the bundled SDK catalog snapshot if the live catalog is unavailable, OR pass `config` (a full host config v2). Exactly one of `template` or `config` is required.\n\nGuest callers are denied (host creation is a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostCreateRequest"
              },
              "example": {
                "name": "Claude",
                "template": "claude",
                "theme": "dark"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The host was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/hosts/{hostId}": {
      "get": {
        "operationId": "getHost",
        "tags": [
          "Hosts"
        ],
        "summary": "Get a host",
        "description": "One host's full settings, including its resolved host config. A host that exists but belongs to a different project reads as `404 NOT_FOUND`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/hostId"
          }
        ],
        "responses": {
          "200": {
            "description": "The host settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "patch": {
        "operationId": "updateHost",
        "tags": [
          "Hosts"
        ],
        "summary": "Update a host",
        "description": "Edit a host's display name and/or its host config. Only the fields you pass change. Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/hostId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostUpdateRequest"
              },
              "example": {
                "name": "Claude (renamed)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated host settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "delete": {
        "operationId": "deleteHost",
        "tags": [
          "Hosts"
        ],
        "summary": "Delete a host",
        "description": "Permanently delete a host from the project. Pass `{ \"force\": true }` to delete a host that is still referenced (e.g. by an eval suite). Guest callers are denied (a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/hostId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "Delete even if the host is still referenced."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The host was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDeleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/validate": {
      "post": {
        "operationId": "validateServer",
        "tags": [
          "Server diagnostics"
        ],
        "summary": "Validate a server",
        "description": "Connects to the server, initializes the MCP session, and returns a connection snapshot (server info, negotiated capabilities). The same check the hosted inspector runs when you connect a server.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Server connected and initialized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/doctor": {
      "post": {
        "operationId": "runDoctor",
        "tags": [
          "Server diagnostics"
        ],
        "summary": "Run the doctor",
        "description": "Runs the full doctor workflow \u2014 probe \u2192 connect \u2192 initialize \u2192 capabilities \u2192 primitives \u2014 and returns a step-by-step report. The richest signal for \"is this server healthy, and why not.\"",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Doctor report. `status` summarizes the outcome; per-step detail is in `checks`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/check-oauth": {
      "post": {
        "operationId": "checkOAuth",
        "tags": [
          "Server diagnostics"
        ],
        "summary": "Check OAuth requirement",
        "description": "Lightweight, no MCP connection: reports whether the server is configured to require an OAuth grant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "OAuth requirement for the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckOAuthResult"
                },
                "example": {
                  "useOAuth": true,
                  "serverUrl": "https://mcp.example.com/mcp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools": {
      "post": {
        "operationId": "listTools",
        "tags": [
          "Primitives"
        ],
        "summary": "List tools",
        "description": "Returns the server's tools as a collection page. Each item is the MCP tool definition (`name`, `description`, `inputSchema`, ...).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of tools.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolPage"
                },
                "example": {
                  "items": [
                    {
                      "name": "create_issue",
                      "description": "Create a new issue in the tracker",
                      "inputSchema": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts": {
      "post": {
        "operationId": "listPrompts",
        "tags": [
          "Primitives"
        ],
        "summary": "List prompts",
        "description": "Returns the server's prompts as a collection page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of prompts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources": {
      "post": {
        "operationId": "listResources",
        "tags": [
          "Primitives"
        ],
        "summary": "List resources",
        "description": "Returns the server's resources as a collection page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/cursorBody"
        },
        "responses": {
          "200": {
            "description": "One page of resources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcePage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/resources/read": {
      "post": {
        "operationId": "readResource",
        "tags": [
          "Primitives"
        ],
        "summary": "Read a resource",
        "description": "Reads a single resource by URI and returns its contents.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uri"
                ],
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "The resource URI, exactly as returned by the resources list.",
                    "example": "file:///readme.md"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource contents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceContents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/export": {
      "post": {
        "operationId": "exportServer",
        "tags": [
          "Export"
        ],
        "summary": "Export a server snapshot",
        "description": "Lists tools, resources, and prompts in one call and returns a single JSON snapshot \u2014 handy for diffing a server's surface over time in CI.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/emptyBody"
        },
        "responses": {
          "200": {
            "description": "Full server snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportSnapshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/tools/call": {
      "post": {
        "operationId": "callTool",
        "tags": [
          "Execution"
        ],
        "summary": "Call a tool",
        "description": "Executes a tool on the server and returns the MCP `CallToolResult` directly. Tool-level failures (`isError: true` in the result) are **successful calls** \u2014 the server answered; only transport/auth errors use the error envelope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "toolName"
                ],
                "properties": {
                  "toolName": {
                    "type": "string",
                    "description": "Tool name, exactly as returned by the tools list."
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Tool arguments matching the tool's `inputSchema`. Defaults to `{}`.",
                    "additionalProperties": true
                  }
                }
              },
              "example": {
                "toolName": "create_issue",
                "parameters": {
                  "title": "Bug: login fails"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The MCP `CallToolResult`. Check `isError` for tool-level failures.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallToolResult"
                },
                "example": {
                  "content": [
                    {
                      "type": "text",
                      "text": "Issue created: #42"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/prompts/get": {
      "post": {
        "operationId": "getPrompt",
        "tags": [
          "Execution"
        ],
        "summary": "Render a prompt",
        "description": "Renders a prompt with arguments and returns the MCP `GetPromptResult` directly (`description?`, `messages`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "promptName"
                ],
                "properties": {
                  "promptName": {
                    "type": "string",
                    "description": "Prompt name, exactly as returned by the prompts list."
                  },
                  "arguments": {
                    "type": "object",
                    "description": "Prompt arguments. String, number, and boolean values.",
                    "additionalProperties": {
                      "type": [
                        "string",
                        "number",
                        "boolean"
                      ]
                    }
                  }
                }
              },
              "example": {
                "promptName": "summarize",
                "arguments": {
                  "style": "bullet"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The MCP `GetPromptResult`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPromptResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/FeatureNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs": {
      "post": {
        "operationId": "createEvalRun",
        "tags": [
          "Eval runs"
        ],
        "summary": "Create an eval run (async)",
        "description": "Creates a suite run from an existing `suiteId` (rerun) and/or inline `tests`, then **detaches execution and responds `202` immediately** with the `runId`. Validation and quota errors surface on this request; poll `GET /eval-runs/{runId}` for progress. The run appears live in the hosted UI Runs tab, tagged `source: \"api\"`.\n\nA bare `suiteId` with no inline tests reruns the suite as configured. Per-organization concurrency is capped (default 2 concurrent runs); exceeding it returns `429` with `details.reason: \"CONCURRENT_RUN_LIMIT\"`.\n\nFor a suite with attached project environments, pass `environmentId` to choose which one the run uses; the `202` echoes the resolved `environment` triple, and `GET /eval-runs/{runId}` reports the same triple for the life of the run.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalRunCreateRequest"
              },
              "example": {
                "suiteName": "smoke",
                "serverIds": [
                  "srv_abc123"
                ],
                "tests": [
                  {
                    "title": "echo works",
                    "runs": 1,
                    "model": "anthropic/claude-haiku-4.5",
                    "provider": "anthropic",
                    "steps": [
                      {
                        "id": "s1",
                        "kind": "prompt",
                        "prompt": "Use the echo tool to say hi"
                      },
                      {
                        "id": "s2",
                        "kind": "assert",
                        "assertion": {
                          "type": "toolCalledWith",
                          "toolName": "echo",
                          "args": {
                            "args": {
                              "text": "hi"
                            }
                          }
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run created; execution continues in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunCreated"
                },
                "example": {
                  "runId": "run_abc123",
                  "suiteId": "suite_def456",
                  "status": "running",
                  "caseUpsert": {
                    "committed": [
                      {
                        "name": "echo works"
                      }
                    ],
                    "failed": []
                  },
                  "environment": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}": {
      "get": {
        "operationId": "getEvalRun",
        "tags": [
          "Eval runs"
        ],
        "summary": "Get run status",
        "description": "Run status, result, and summary. Poll until `status` is terminal (`completed`, `failed`, or `cancelled`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations": {
      "get": {
        "operationId": "listEvalRunIterations",
        "tags": [
          "Eval runs"
        ],
        "summary": "List run iterations",
        "description": "Per-iteration results: actual tool calls, structured token usage, and latency. Cursor-paginated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, 1\u2013200. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's `nextCursor`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of iterations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalIterationPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations/{iterationId}/trace": {
      "get": {
        "operationId": "getEvalIterationTrace",
        "tags": [
          "Eval runs"
        ],
        "summary": "Get an iteration trace",
        "description": "Full trace envelope for one iteration: conversation messages, expected-vs-actual tool call analysis, and spans. The shape is rich and may evolve \u2014 treat it as an open document. Returns `404` with `details.reason: \"TRACE_NOT_AVAILABLE\"` when the iteration finished without a stored trace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "$ref": "#/components/parameters/iterationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The trace envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Trace document: `messages`, `prompts` (per-prompt expected/actual tool-call analysis), `spans`, and more.",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/iterations/{iterationId}/steps": {
      "get": {
        "operationId": "getEvalRunSteps",
        "tags": [
          "Eval runs"
        ],
        "summary": "Get an iteration's step results",
        "description": "One row per authored test step, in order, with `status` (`ok`/`fail`/`skipped`/`pending`), a `reason`, and any `evidence` (screenshots, replay-video offset, widget tool calls). The fastest way to see which step failed and why. Unlike `/trace`, a missing trace is not a `404` \u2014 step verdicts still return, just without evidence.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          },
          {
            "$ref": "#/components/parameters/iterationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The ordered step results as a page envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Authored steps in order with their verdict.",
                      "items": {
                        "type": "object",
                        "required": [
                          "stepId",
                          "stepIndex",
                          "kind",
                          "status"
                        ],
                        "properties": {
                          "stepId": {
                            "type": "string"
                          },
                          "stepIndex": {
                            "type": "integer"
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "prompt",
                              "toolCall",
                              "interact",
                              "assert"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "ok",
                              "fail",
                              "skipped",
                              "pending"
                            ]
                          },
                          "reason": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "evidence": {
                            "type": "object",
                            "description": "Optional, omitted when the step produced none.",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-runs/{runId}/cancel": {
      "post": {
        "operationId": "cancelEvalRun",
        "tags": [
          "Eval runs"
        ],
        "summary": "Cancel a run",
        "description": "Request cancellation of an in-flight run; marks the run and its pending/running iterations `cancelled`. A no-op success when the run is already cancelled; returns `409` when the run already reached a terminal status (`completed`/`failed`/`timed_out`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The run already finished and cannot be cancelled."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}/runs": {
      "get": {
        "operationId": "listEvalSuiteRuns",
        "tags": [
          "Eval runs"
        ],
        "summary": "List a suite's runs",
        "description": "Recent runs for a suite, newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum runs to return, 1\u2013100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent runs, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}/schedule": {
      "patch": {
        "operationId": "updateEvalSuiteSchedule",
        "tags": [
          "Eval runs"
        ],
        "summary": "Enable, repoint, or disable a suite's schedule",
        "description": "A schedule fires exactly ONE run per interval, so an environment-based suite must pin exactly one of its attached environments. Omitting `environmentId` on a single-environment suite means that environment; omitting it on a multi-environment suite is a VALIDATION_ERROR. Disabling preserves the existing pin. Responds with the full updated suite.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalSuiteScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated suite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalSuiteDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/servers/{serverId}/oauth/import-tokens": {
      "post": {
        "operationId": "importOAuthTokens",
        "tags": [
          "OAuth"
        ],
        "summary": "Import OAuth tokens",
        "description": "Stores OAuth tokens you obtained yourself (e.g. via the SDK's `runOAuthLogin` \u2014 interactive loopback, headless, or client-credentials) for this server, scoped to your user, project, and server. Subsequent API calls against the server inject the stored access token automatically, and `401`s from the server trigger a server-side refresh \u2014 no further caller involvement.\n\nThis closes the loop after an `OAUTH_REQUIRED` error.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportTokensRequest"
              },
              "example": {
                "serverUrl": "https://mcp.example.com/mcp",
                "clientInformation": {
                  "clientId": "client_123"
                },
                "tokens": {
                  "access_token": "at_\u2026",
                  "refresh_token": "rt_\u2026",
                  "expires_in": 3600
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportTokensResult"
                },
                "example": {
                  "imported": true,
                  "expiresAt": 1781142000000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "Catalog"
        ],
        "summary": "Get the authenticated account",
        "description": "The user behind the API key (keys act as their creator, scoped to one organization).",
        "responses": {
          "200": {
            "description": "The account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "tags": [
          "Catalog"
        ],
        "summary": "List organizations",
        "description": "The organizations the caller belongs to — the source of the `organizationId` that `GET /projects` filters by and `POST /projects` accepts. An API key is bound to one organization and only ever sees that one. Read-only: organization, member, role and billing changes are not part of the public API.",
        "responses": {
          "200": {
            "description": "The caller's organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "tags": [
          "Catalog"
        ],
        "summary": "List projects",
        "description": "Projects the caller can access. API keys only ever see projects inside the key's organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "description": "Filter to one organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "Creates a project in the caller's organization and responds `201` with its detail. Requires organization membership and counts against the plan's `maxProjects` limit. Guest callers are denied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              },
              "example": {
                "name": "CI evals"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/servers": {
      "get": {
        "operationId": "listProjectServers",
        "tags": [
          "Catalog"
        ],
        "summary": "List a project's servers",
        "description": "The MCP servers saved in the project \u2014 the `serverId`s every other route takes. STDIO command/args/env and raw headers are never exposed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServerPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createProjectServer",
        "tags": [
          "Servers"
        ],
        "summary": "Save a server into a project",
        "description": "Creates a saved MCP server and responds `201` with its detail. This is the provisioning entry point: every eval, host and environment route addresses servers that were created here. Names are unique per workspace, so a clash responds `409` rather than silently returning the existing row. Secret-bearing fields (`env`, `headers`, `clientSecret`) are encrypted at rest and never returned by any read.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectServerCreateRequest"
              },
              "example": {
                "name": "learn",
                "enabled": true,
                "transportType": "http",
                "url": "https://learn.mcpjam.com/mcp"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The server was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites": {
      "get": {
        "operationId": "listEvalSuites",
        "tags": [
          "Catalog"
        ],
        "summary": "List a project's eval suites",
        "description": "Eval suites in the project with latest-run summaries and pass-rate trends \u2014 the `suiteId`s the eval-run routes take.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's eval suites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalSuitePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createEvalSuite",
        "tags": [
          "Eval runs"
        ],
        "summary": "Create an eval suite (author-only, does not run)",
        "description": "Creates a runnable eval suite \u2014 the suite record plus its test cases \u2014 and responds `201` **synchronously**, WITHOUT executing anything. Use this to author a suite, then run it later with `POST /eval-runs` (passing the returned `suiteId`).\n\nThis is distinct from `POST /eval-runs`, which creates a run and **detaches execution**, responding `202` with a `runId`. There is no concurrency cap here (no run is started).\n\nThe body uses an ergonomic authoring shape: a suite-level default `model` (and optional `provider`) applies to every test unless the test overrides it; `provider` is derived from a `provider/model` id when neither is supplied. Each test's case body is an ordered `steps` array (prompt / toolCall / interact / assert).\n\nGuest callers are denied (suite creation is a write).",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalSuiteCreateRequest"
              },
              "example": {
                "name": "smoke",
                "serverIds": [
                  "srv_abc123"
                ],
                "model": "anthropic/claude-haiku-4.5",
                "tests": [
                  {
                    "title": "lists files",
                    "steps": [
                      {
                        "id": "s1",
                        "kind": "prompt",
                        "prompt": "List the files in the project root."
                      },
                      {
                        "id": "s2",
                        "kind": "assert",
                        "assertion": {
                          "type": "toolCalledWith",
                          "toolName": "list_files",
                          "args": {
                            "args": {}
                          }
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The suite was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalSuiteCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}": {
      "get": {
        "operationId": "getEvalSuite",
        "tags": [
          "Eval runs"
        ],
        "summary": "Get one eval suite's configuration",
        "description": "The suite's full settings \u2014 attached environments, hosts, execution config, judge, schedule. The list route returns run rollups instead; this is the shape the edit routes read and write.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "responses": {
          "200": {
            "description": "The suite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalSuiteDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "patch": {
        "operationId": "updateEvalSuite",
        "tags": [
          "Eval runs"
        ],
        "summary": "Update an eval suite's settings",
        "description": "Partial update \u2014 omitted fields are left as they are. `environmentIds` is tri-state: a non-empty array sets/replaces, `null` clears (reverting the suite to legacy config), and `[]` is rejected rather than silently treated as a clear. Responds with the full updated suite.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalSuiteUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated suite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalSuiteDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "delete": {
        "operationId": "deleteEvalSuite",
        "tags": [
          "Eval runs"
        ],
        "summary": "Delete an eval suite",
        "description": "Deletes the suite and its cases. Past runs are not deleted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "responses": {
          "200": {
            "description": "The suite was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalDeleted"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      }
    },
    "/projects/{projectId}/eval-suites/{suiteId}/cases": {
      "get": {
        "operationId": "listEvalCases",
        "tags": [
          "Eval runs"
        ],
        "summary": "List a suite's eval cases",
        "description": "Every case in the suite, in the public steps-first shape.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "responses": {
          "200": {
            "description": "The suite's cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalCasePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/ServerUnreachable"
          }
        }
      },
      "post": {
        "operationId": "createEvalCase",
        "tags": [
          "Eval runs"
        ],
        "summary": "Create an eval case",
        "description": "Adds one case to the suite. Both `title` and a non-empty `steps` array are required \u2014 `steps` is optional on the shared case shape so PATCH can be partial, but a case persisted without executable steps could never run. When `models` is omitted the suite's configured model is used.",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/suiteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalCaseCreateRequest"
              },
              "example": {
                "title": "lists files",
                "steps": [
                  {
                    "id": "s1",
                    "kind": "prompt",
                    "prompt": "List the files in the project root."
                  },
                  {
                    "id": "s2",
                    "kind": "assert",
                    "assertion": {
                      "type": "toolCalledWith",
                      "toolName": "list_files",
                      "args": {
                        "args": {}
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
[...]
